body {
    background-color: #383130;
    color: antiquewhite;
}

#sidebyside {
    display: flex;
}

#left {
    
}

#board1 {
    padding: 0;
    margin: 0;
}

#right {
    
    padding: 30px;
    flex: 30%;
}

#top {

}

#bottom {

}
